#square {
    position: static;
    width: 500px;
    height: 500px;
    background-image: linear-gradient(120deg, #FFB864, #FF323C);
    visibility: hidden;
}

#timeParagraph {
    position: fixed;
    right: 10px;
    bottom: 0px;
}

#box {
    position: relative;
    width: 50px;
    height: 50px;
    background-image: linear-gradient(300deg, #7C78FF, #8CFF85);
}

body {
    background-color: #CEC3E9;
    color: #13AD1E;
}

button {
    height: 40px;
    width: 80px;
}

button#slideButton {
    margin-top: 230px;
    float: right;
}

button#random {
    margin: 10px 10px 10px 0;
}

img#slideImage {
    width: 800px;
    height: 500px;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}
